.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
}

.logo {
    width: 3rem;
}

.links {
    display: flex;
    list-style: none;
    margin-right: 2rem;
}

.links > li {
    border: 0px;
    padding: 1rem;

    border-bottom: 1px solid black;
    cursor: pointer;
}


.links > li:hover {
    background-color: rgb(207, 207, 207);
}

.cartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart {
    width: 2.5rem;
    height: 2.5rem;
}

.cartStatus {
    position: absolute;
    background-color: red;
    color: rgb(242, 242, 242);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    top: -0.75rem;
    right: -0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSideContainer {
    display: flex;
    align-items: center;
}

.leftSideContainer {
    display: flex;
    align-items: center;
}